.footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: 
    
    "logofooter footer_inside"
    ;
    grid-template-rows: 300px;
    grid-template-columns: 25% 120vh;
    background-color: rgba(230, 204, 178, 1);
    border: 5px outset;
    border-radius: 6px;
    
    #logofooter {
        grid-area: logofooter;
        width: 300px;
    }
    .footer_inside {
        grid-area: footer_inside;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* background-color: azure; */
        .footer_links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 120vh;
            .footer_box {
                display: flex;
                flex-direction: column;
                .correo {
                    @extend .footer_box;
                }
                .direccion {
                    @extend .footer_box;   
                }
                $redes: (
                    instagram: '#instagram',
                    linkedin: '#linkedin',
                    facebook: '#facebook',
                );
                 .redes {
                    @each $key, $val in $redes {
                         .redes_sociales #{$val} {
                            @include sizes(5px, 25px, 25px, inline-block)
                         }
                     }
                 }   
            }
        }
    }
    .scroll {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 50px;
        .top {
            margin-right: 1px;
            margin-bottom: 15px;
            margin-left: 492px;
        }
        #flecha {
            width: 50px;
            height: 50px;
            margin-right: 4px;
            margin-bottom: 40px;
            border-style: dotted black   ;
            float: right;
            transition: all 1s;
        }
        // #flecha:hover {
        //     // background-color: green;
        // }
    }
    
    }
@media (max-width:425px ) {
    .footer {
        display: flex;
        padding: 25px;
        #logofooter {
            display: none;
        }
        .footer_inside{
            display: flex;
            .footer_links{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .footer h3 {
                    font-size: 48px;
                    }
                .footer h4 {
                    font-size: 36px;
                    }
                .redes_sociales #instagram {
                    padding: 5px;
                    height: 100px;
                    width: 100px;
                    display: inline-block;  
                    }
                .redes_sociales #linkedin {
                     padding: 5px;
                    height: 100px;
                    width: 100px;
                    display: inline-block; 
                    } 
                .redes_sociales #facebook {
                    padding: 5px;
                    height: 100px;
                    width: 100px;
                    display: inline-block;
                    }         
            }
        }
    }
}
